.pirncipal {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.principal__titulo {
    color: var(--black-light);
    font-size: 32px;
    font-weight: 600;

    padding-top: 60px;
    padding-bottom: 2rem;
}

.principal__texto {
    color: var(--grey);
    font-weight: 500;
    font-size: 18px;

    padding-bottom: 4rem;
}

.principal__produto-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 28px;
    column-gap: 12px;
	justify-content: space-evenly;
    grid-auto-flow: column;

}


.principal__produto-cartao {
    width: 300px;
    height: 302px;
    background-color: var(--white-200);

    margin: auto auto 60px auto;
    display: flex;
}


.principal__produto-imagem {
    max-width: 250px;
    max-height: auto;
    
    margin: auto;
}

.centro {
    text-align: center;
}

@media screen and (max-width: 1240px) {
    .principal__produto-container{
        display: grid;
        align-items: center;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 28px;
        column-gap: 12px;

        max-width: 1920px;
    }
    
}

@media screen and (max-width:625px){
    
    .principal__texto {
        margin: 0 4% 0 4%;
    }

    .principal__produto-container{
        display: block;
    
        margin: 0 4% 0 4%;
    }

    .principal__produto-cartao {
        width: 100%;
        height: 302px;
        background-color: var(--white-200);
    
        margin: 0 auto 20px auto;
        display: flex;
    }
    

    .principal__produto-imagem {
        max-width: 400px;
        max-height: auto;
        
        margin: auto;
    }
}
